body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #4B0082, #000000);
    font-family: cursive;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3.5em;
    color: #FFFFFF;
    text-shadow: 3px 3px 15px #DA70D6;
}

.buttons {
    margin-top: 20px;
}

.yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #8A2BE2;
    color: white;
    border: 2px solid #9370DB;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.yes-button:hover {
    background-color: #6A1B9A;
    transform: scale(1.05);
}

.no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #4B0082;
    color: white;
    border: 2px solid #6A1B9A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.no-button:hover {
    background-color: #3A006A;
    transform: scale(1.05);
}

.gif_container img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    border: 3px solid #8A2BE2;
    box-shadow: 0 0 15px #9370DB;
}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  animation-name: drop-in;
  animation-duration: 1s;
}

/* Drop-in animation */
@keyframes drop-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
